/* mobile screen */
@media screen and (min-width: 320px) {
  /* .navigation_list {
    display: none;
  } */
  .menu-btn {
    display: block;
  }
  .navigation_list {
    /* display: none; */
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #585757;
    height: 100vh;
    top: 0;
    width: 100%;

    transition: left 0.5s ease, right 0.5s ease;
  }
  
  .navigation_list.show {
    left: 0;
    /* right: 0; */
  }

   .navigation_list--item {
    padding: 12px 0;
  }

  h3 {
    font-size: 12px;
    line-height: 18px;
    width: 210px;
    justify-self: center;
    padding-top: 30px;
  }

  h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 39.6px;
    letter-spacing: -0.8px;
    padding-top: 40px;
  }

  img {
    padding-top: 30px;
  }

  .navigation {
    padding: 0 20px;
    padding-top: 20px;
  }
}

/* tablet screen */
@media screen and (min-width: 768px) {
  .navigation {
    padding-left: 700px;
  }

  h1 {
    padding-top: 160px;
  }

  .navigation_list {
    display: flex;
  }
  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    padding-top: 160px;
  }

  h3 {
    padding-top: 20px;
  }

  .navigation {
    padding: 0 280px;
    padding-top: 50px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}

/* .navigation_list {
  display: flex;
} */

/* .navigation_list, */
.navigation_list--item {
  margin: 0 20px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
}

i {
  color: grey;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}

.info {
  margin-top: 20px;
  display: grid;
}

h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 74px;
  font-style: normal;
  font-weight: 500;
  line-height: 102px;
  letter-spacing: -2px;
  justify-self: center;
  /* margin-top: 200px; */
}

h3 {
  /* margin-top: 20px; */
  color: #fff;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  justify-self: center;
}

body {
  width: 100%;
  height: auto;
}

picture {
  margin-top: 20px;
  justify-self: center;
}

.second_image {
  display: none;
}

.navigation_list__item {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
}
